body {
  font-family: 'Shantell Sans', cursive;
}
.g-clr {
  color: #009630;
}

/* NAVBAR start ===============================*/
.navbar {
  padding: 30px;
  
}
.nav-item a {
  color: rgb(79, 89, 95);
  margin-right: 10px;
  font-weight: bold;
}

.nav-item i {
  color: rgb(149, 149, 149);
  font-size: 80%;
}

.navbar .nav-item a:hover{
  color: #009630 ;
}

.navbar form a i {
  color: #009630;
  font-size: 80%;
}

/* Button */
.btn-planner {
  border-radius: 22px;
  background-color: #009630;
  margin: 4px;
  font-weight: bold;
}

.btn-planner:hover {
  background-color: #075607;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  border-radius: 22px;
  background-color: #009630;
  margin: 4px;
  
}

/* Read More  */
.Blog-Data .Read-More{
font-style: italic;
color: #009630;
}

.Blog-Data .Read-More:hover{
  font-style: italic;
  cursor: pointer;
 color:#075607;
  }


/* BANNER start ============================*/

.banner-wrapper {
  padding-top: 40px;

}
/* Data File  */

.Blog-Data .card{
  border: none;
  margin: 0px 80px;
}
.Blog-Data .card:hover{
  border: none;
  background-color: #ffecec;
  color: rgb(217, 90, 90);

}

/*  Detail  ==================================*/
.Blog-Page .card {
  background-color: #e3ffec;
  border-radius: 30px;
  padding: 10px;
}

