body {
  font-family: 'Shantell Sans', cursive;
}

.g-clr {
  color: #009630;
}

/* NAVBAR start ===============================*/
.navbar {
  padding: 30px;
  
}
.nav-item a {
  color: rgb(79, 89, 95);
  margin-right: 10px;
  font-weight: bold;
}

.nav-item i {
  color: rgb(149, 149, 149);
  font-size: 80%;
}

.navbar .nav-item a:hover{
  color: #009630 ;
}

.navbar form a i {
  color: #009630;
  font-size: 80%;
}

/* Button */
.btn-planner {
  border-radius: 22px;
  background-color: #009630;
  color: white;
  border: 0px;
  padding: 6px;
}
.btn-planner a{
  text-decoration: none;
  color: white ;
  margin: 6px;
  font-weight: bold;
}
.btn-planner:hover {
  background-color: #075607;
}
/* BACK button ======== */

.back-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
  border: 1px solid #ccc;
  border-radius: 22px;
  padding: 8px 25px;
  background-color: #009630;
  font-weight: bold;
  color: #eff8ff;
  margin: 10px;
}
/* Read More button ======== */
.Blog-Data .Read-More a{
  color: #9a9a9a;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}
.Blog-Data .Read-More a:hover{
color: #009630;
}
/* ADD Post Button ======== */
.banner-wrapper .add-Post a{
  color:  #009630;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.banner-wrapper .add-Post a:hover{
  color: #002e0f;
  cursor: pointer;
  background-color: #e3ffec;
  padding: 8px;
  border-radius: 8px;
}
/* delete button =========== */
.Blog-Data .footer-btn .delete-button{
  margin-right: 30px;
  color:  #9a9a9a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Blog-Data .footer-btn .delete-button:hover{
  color: #f86666;
  cursor: pointer;
}


/* Edit Post button ========= */
.Blog-Data .footer-btn .edit-post a{
  color:  #9a9a9a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
.Blog-Data .footer-btn .edit-post a:hover{
  color: #009630;
  cursor: pointer;
}

/* BANNER start ============================*/

.banner-wrapper {
  padding-top: 40px;

}
/* BLOG data CARD  */
.Blog-Data .card{
  border: none;
  margin: 0px 80px;
}
.Blog-Data .card:hover{
  border: none;
  background-color: #ffecec;
  color: rgb(217, 90, 90);

}

/*  Detail  ==================================*/
.Blog-Page .card {
  background-color: #e3ffec;
  border-radius: 30px;
  padding: 10px;
}
/*  EditPost  ==================================*/
.Edit-Post-Card .card {
  background-color: #eff8ff;
  border-radius: 30px;
  padding: 10px;
}

/* VALIDATIONS text =============== */
.text-validation{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  padding: 3px;
  margin-left: 5px;
  font-size: small;
}
/* ========================= */


