body {
  font-family: 'Shantell Sans', cursive;
}

.g-clr {
  color: #009630;
}

/* NAVBAR start ===============================*/
.navbar {
  padding: 30px;
  
}
.nav-item a {
  color: rgb(79, 89, 95);
  margin-right: 10px;
  font-weight: bold;
}

.nav-item i {
  color: rgb(149, 149, 149);
  font-size: 80%;
}

.navbar .nav-item a:hover{
  color: #009630 ;
}

.navbar form a i {
  color: #009630;
  font-size: 80%;
}

/* Button */
.btn-planner {
  border-radius: 22px;
  background-color: #009630;
  margin: 4px;
  font-weight: bold;
}

.btn-planner:hover {
  background-color: #075607;
}


/* Read More ======== */
.Blog-Data .Read-More a{
  color: #9a9a9a;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}
.Blog-Data .Read-More a:hover{
color: #009630;
}
/* delete button =========== */
.Blog-Data .footer-btn .delete-button{
  margin-right: 40px;
  color:  #9a9a9a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Blog-Data .footer-btn .delete-button:hover{
  color: #f86666;
  cursor: pointer;
}
/* ADD Post Button ======== */
.Blog-Data .footer-btn .add-Post a{

  color:  #9a9a9a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.Blog-Data .footer-btn .add-Post a:hover{
  color: #009630;
  cursor: pointer;
}

/* Edit Post ========= */
.Blog-Data .footer-btn .edit-post a{
  margin-left: 40px;
  color:  #9a9a9a;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
.Blog-Data .footer-btn .edit-post a:hover{
  color: #009630;
  cursor: pointer;
}

/* BANNER start ============================*/

.banner-wrapper {
  padding-top: 40px;

}
/* BLOG data CARD  */
.Blog-Data .card{
  border: none;
  margin: 0px 80px;
}
.Blog-Data .card:hover{
  border: none;
  background-color: #ffecec;
  color: rgb(217, 90, 90);

}

/*  Detail  ==================================*/
.Blog-Page .card {
  background-color: #e3ffec;
  border-radius: 30px;
  padding: 10px;
}
/*  EditPost  ==================================*/
.Edit-Post-Card .card {
  background-color: #eff8ff;
  border-radius: 30px;
  padding: 10px;
}


